a{
    text-decoration: none !important;
}

.cartwidget-container{
    margin-right: 25px !important;
    border-radius: 15%;
    padding: 5px;
    background-color: #f1c40f;
}
.cartwidget-counter{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F93B4C;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #f1c40f;
    font-weight: 600;
}
/* span{
    margin: auto;
} */
.bi{
    color: #F93B4C;
}
