.checkoutform-container {
    margin: 2rem auto;
    padding: 2rem 1rem;
    border-radius: 15px;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.55);
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.section-subtitle {
    font-size: 22px;
    text-align: center;
}