.navbar {
    background-color: #F93B4C !important;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.navbar-collapse{
    justify-content: space-evenly !important;
}
.nav-link{
    font-size: 16px !important;
}
.brand-logo{
    max-width: 200px !important;
}
.ActiveOption{
    text-decoration: none;
    color: grey;
}