@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {
    background-color: #F93B4C !important;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.navbar-collapse{
    justify-content: space-evenly !important;
}
.nav-link{
    font-size: 20px !important;
    font-family: 'Ubuntu', sans-serif;
    color: #f1c40f;
}
.nav-link:hover{
    color: #fff;
}
.brand-logo{
    max-width: 200px !important;
}

.brand-subtitle{
    font-size: 22px;
    color: #4280ce;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-left: 25px;
    text-shadow: 1px 1px 1px #ffffff64;
}
.ActiveOption{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    font-weight: 600;
    padding: 8px;
}
.ActiveOption:hover{
    cursor: default;
}